frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env

backend/node_modules
backend/.env
backend/coverage
backend/coverage.json
backend/typechain
backend/typechain-types

# Hardhat files
backend/cache
backend/artifacts